<!DOCTYPE html>
<html lang="en">
<head>
<title>Watson</title>
<link rel="stylesheet" href="css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<script src="js/index.js"></script>
</head>
<body>

    <div class="split left">
        <div class="centered">
          <form action="">
            <h2>Digite uma frase:</h2>
            <textarea id="fraseInput" class="form-control"></textarea> <br>
            <button id="addPhraseButton" type="button" class="btn btn-primary">Cadastrar</button>
          </form>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
          <h2>Frases</h2>
          <ul id="phrasesList" class="list-group list-group-flush">
            
          </ul>
        </div>
      </div>

</body>
</html>